<hr>
<b style="display:inline">{{user}}</b> | <a href = '#!/home'><button>Go Back</button></a> | <button ng-click="logout()">Log Out</button>
<hr>
<h1>New Question</h1>
<form ng-submit="askQuestion()">
    <label><u>Question:</u> </label><input type="text" ng-model="question.question" style="width:250px;"><br>
    <p style="color:red">{{messages.question.message}}</p>
    <br>
    <label><u>Description (optional):</u> </label><input type="text" ng-model="question.description" style="width:250px;"><br>
    <input type="hidden" ng-model="question.name" ng-value="question.name = user">
    <br>
    <input type='submit' value='Submit'>
</form>
